In this notebook I will create a new dataframe to make a network graph. I will have to make different attributes

In [15]:
import requests
import pandas as pd

In [28]:
groups_df = pd.read_csv("seats.csv")
# groups_df.head(30)

In [30]:
tidy_data = (
    groups_df
    .assign(companyboards=groups_df['companyboards'].str.split(', '))
    .explode('companyboards')
    .rename(columns={'personname': 'source', 'companyboards': 'target', 'company_count': 'value'})
    .reset_index(drop=True)
)

# tidy_data.head(50)

              source                      target  value
0      Anne Koutonen                      HKScan      5
1      Anne Koutonen                 Merus Power      5
2      Anne Koutonen                   Modulight      5
3      Anne Koutonen                  Componenta      5
4      Anne Koutonen                      Kojamo      5
5     Leena Niemistö                Pihlajalinna      5
6     Leena Niemistö                      Raisio      5
7     Leena Niemistö  Digital Workforce Services      5
8     Leena Niemistö          Nightingale Health      5
9     Leena Niemistö                     Nexstim      5
10    Anni Ronkainen                     Teleste      5
11    Anni Ronkainen                    Sitowise      5
12    Anni Ronkainen                      Loihde      5
13    Anni Ronkainen          Lassila & Tikanoja      5
14    Anni Ronkainen                      Aallon      5
15      Mammu Kaario                      Puuilo      4
16      Mammu Kaario                      Gofore      4
17      Mammu Kaario                      Capman      4
18      Mammu Kaario                      Ponsse      4
19     Robert Ingman                        Evli      4
20     Robert Ingman                       Digia      4
21     Robert Ingman                          Qt      4
22     Robert Ingman                    Etteplan      4
23        Arja Talma                      Nordea      4
24        Arja Talma                     Glaston      4
25        Arja Talma                       Metso      4
26        Arja Talma            Verkkokauppa.com      4
27   Matts Rosenberg                Aktia Pankki      3
28   Matts Rosenberg                 Terveystalo      3
29   Matts Rosenberg                       Purmo      3
30     Reima Rytsölä                  Stora Enso      3
31     Reima Rytsölä                       Metso      3
32     Reima Rytsölä              Nokian Renkaat      3
33      Kim Ignatius                Pihlajalinna      3
34      Kim Ignatius                       Elisa      3
35      Kim Ignatius                       Duell      3
36   Anders Dahlblom                   Enersense      3
37   Anders Dahlblom                     Betolar      3
38   Anders Dahlblom                         YIT      3
39  Johanna Lamminen                    Mandatum      3
40  Johanna Lamminen                Alisa Pankki      3
41  Johanna Lamminen                    Cargotec      3
42     Tero Weckroth                Alisa Pankki      3
43     Tero Weckroth                     Nexstim      3
44     Tero Weckroth                     Inderes      3
45    Johan Hammarén                   Tecnotree      3
46    Johan Hammarén                      Capman      3
47    Johan Hammarén                      Fondia      3
48    Kirsi Sormunen                    Spinnova      3
49    Kirsi Sormunen                  Withsecure      3

In [31]:
# I noticed that there was still one company wrong from cleaning data wrong

tidy_data["target"] = (
    tidy_data["target"]
    .str.replace("NY", "NYAB")
)
tidy_data

            source         target  value
0    Anne Koutonen         HKScan      5
1    Anne Koutonen    Merus Power      5
2    Anne Koutonen      Modulight      5
3    Anne Koutonen     Componenta      5
4    Anne Koutonen         Kojamo      5
..             ...            ...    ...
269  Harri Suutari     Componenta      2
270    Kari Jordan     Stora Enso      2
271    Kari Jordan      Outokumpu      2
272  Luisa Delgado         Fortum      2
273  Luisa Delgado  Telia Company      2

[274 rows x 3 columns]

In [32]:
csv_file_path = 'network.csv'
tidy_data.to_csv(csv_file_path, index=False)
from IPython.display import FileLink
FileLink(csv_file_path)

/Users/arminiemela/Desktop/networkproject/network.csv

In [ ]:
# network_json = tidy_data.to_json(orient='records')
# with open('network_data.json', 'w') as f:
#    f.write(network_json)